<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extract MindForecaster data</title>
</head>
<body>
<p>Please input your credentials (admin credentials) to extract MindForecaster data in the fields below!</p>
<form action="" method="post">
    <label>
        Username:
        <input name="username" type="text">
    </label>
    <br>
    <label>
        Password:
        <input name="password" type="password">
    </label>
    <br>
    <input type="submit" value="EXTRACT DATA">
</form>
<div>
    <p>Data-source IDs are the followings:</p>
    <ol>
        <li>Users (names and usernames)</li>
        <li>Events</li>
        <li>Interventions</li>
        <li>Event Evaluations</li>
        <li>Surveys</li>
        <li>App-Usages</li>
        <li>GPS Locations</li>
        <li>Activity Recognitions</li>
    </ol>
</div>
</body>
</html>