<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Extract MindForecaster data</title>
</head>
<body>
<p>Please input your credentials (admin credentials) to extract MindForecaster data in the fields below!</p>
<form action="extract_data/" method="post">
    <label>
        Username:
        <input name="username" type="text">
    </label>
    <label>
        Password:
        <input name="password" type="password">
    </label>
    <input type="submit" value="EXTRACT DATA">
</form>
</body>
</html>